@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  color: white;
}

header{
  background-color:#ff6200;
  max-width: 100%;
  margin: 0 auto;
  height: 70px;
  display:  flex;
  padding: 0 10px;
}

nav{
  color: #000000;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.name-nav{
  font-size: 30px;
}

.lists{
  display: flex;
  gap: 40px;
}

.list{
  text-decoration: none;
  color: #000000;
  position: relative;
  font-weight: 550;
  scroll-behavior: smooth;
}

.list:active{
  color: #fff;
}

.list::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: .3s;
}

.list:hover::before{
  width: 100%;
}

.list:active::before{
  background-color: #fff;
  transition: .0s;
}

.download-btn{
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  transition: .3s;
}
.download-btn:hover{
  border-radius: 20px;
  transition: .3s;
}

.download-nav{
  color: black;
  border: 1.5px solid rgb(0, 0, 0);
  padding: 10px 25px;
}

.download-body{
  color: white;
  border: 1.5px solid #fff;
  padding: 10px 8.5px;
}

.hamburger{
  color: black;
  font-size: 25px;
  display: none; /*sadece kucuk ekranda gorunmesi 
  gerektigi icin buyuk ekranda kapatiyoruz */
}

.main-container{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: none;
  margin-top: 0px;
}

#section1{
  height: 100vh;
  display: flex;
  align-items: center;
}

.left{
  width: 50%;
  display: flex;
  flex-direction:column;
  height: 100vh;
  gap: 30px;
  margin-left: 60px;
  margin-top: 125px;
}



.left .title>span{ /* buradaki <span .title'nin sadece 
  cocuğu olan spanları sec, mesela .title'nin altindaki 
  div'in alitindaki span secilmeyecek */
  color: #ff6200;
}

.left .description{
  color: gainsboro;
}

.left .btns{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.send-email-btn{
  background-color: #ff6200;
  max-width: max-content;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.send-email-btn:hover{
  border-radius: 20px;
  transition: .3s;
}

.social_icons{
  display:flex;
  gap: 45px;
  margin-top: 50px;
  margin-left: 20px;
}

.social_icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  transition: .15s;
}

.social_icon:hover{
  font-size: 35px;
  transition: .15s;
}

.youtube:hover{
  color:red;
  box-shadow: 0px 0px 40px red;
}

.github:hover{
  color: #5c6bc0;
  box-shadow: 0px 0px 40px #5c6bc0;
}

.linkedin:hover{
  color: #2867b2;
  box-shadow: 0px 0px 40px #2867b2
}

.right{
  width: 50%;
  max-width: 100%; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;     /* normalde bu dikey ama flex-direction column oldugu icin yatay oldu */
  /*justify-content: center; */ /* normalde bu yatay ama flex-direction column oldugu icin dikey oldu */
  margin-top: 100px;

}

.hero_wrapper{
  border: solid;
  border-color: #ff6200;
  height: 150px;
  width: 150px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  justify-content: center;
}

.hero_img{
  width: 160px;
  height: 150px;
  background-image: radial-gradient(#ff6200, purple);
  border-radius: 50%;
}

.hero_img img{
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.hero_img img:hover{
  width: 100%;
  height: 112%;
  animation: scale 0.9s ease-in-out alternate infinite;
}

.hero_img:hover{
  width: 150px;
  height: 150px;
}

.name-body-container{
  display: flex;
  margin-top: 15px;
  margin-right: 20px;
}

.name-body{
  background-color: #ff6200;
  color: black;
  width: max-content;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 700;
}

@keyframes scale{
  to{
    transform: scale(1.05);
  }
}

/* RESPONSIVE */

@media  screen and (max-width: 1200px){
  .name-nav{
    font-size: 26px;
  }
}

@media screen and (max-width: 940px){
  header, .main-container{
    padding: 0 20px;
  }

  .hamburger{
    display: flex;
  }

  .lists, .download-nav{
    display: none;
  }
}

@media screen and (max-width: 720px) {
  header{
    height: 50px;
  }

  .name-nav{
    font-size: 20px;
  }

  .main-container{
    margin-top: 0px;
  }  

  #section1{
    flex-direction: column-reverse;
    gap: 30px;
    height: 10%; /* BURADAYIZZZZZZZZZ*/
  }

  .left{
    width: 100%;
    gap: 30px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .name-body-container{
    display: flex;
    justify-content: center;
  }

  .btns{
    justify-self: center;
  }

  .social_icons{
    margin-top: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }

  .right{
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: 0px;
  }

  .hero_wrapper{
    margin-right: 0px;
  }

  .name-body-container{
    margin-right: 0px;
  }
}
